# Git
.git/
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/

# Application data
config.yaml
state.json
data/

# Documentation
README.md
*.md

# Development and deployment
compose*.yaml
tests/

# IDE
.vscode/
.idea/

# CI
.github/
